/* 
COMP 333: Software Engineering
Andrew Pratt
Style Sheet
*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
body {font-family: 'Noto Sans SC', sans-serif;}

p {color:black;}

div {background-color: lightcyan;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.css-box-model-class {
    /* Demonstrates the CSS Box Model */
    border-width: 2px;
    border-style: solid;
    margin: 10px 5px 15px 25px;
    padding: 50px;
}

/* Links can be styled with CSS as well. */
a:hover {
    color:green;
}

/* For your custom navbar, you can specify the unorderd list style.*/
.navbar ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
}

/*  Style individual list items.*/
.navbar li {
    width: 150 px;
    background-color: #000;
    border: 1px solid red;
    /* Show the navbar elements next to each other instead of on top of each other. */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}


/* Style based on class
for multiple things*/
.DarkBlue {
    background-color: rgb(7, 57, 90);
}

/* Style based on id 
for one thing*/
#Red-Outline {
    border: 5px solid red;
}

#Purp-Outline {
    border: 5px solid rgb(61, 22, 87);
}

/* Style links in navbar.*/
.navbar a {
    color:#fff;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

input {
    /*  Show different input on top of each other instead of next to each other.*/
    display: block;
}

/* Style iframes.*/
iframe {
    width:100%;
    height:400px;
    border: dotted rgb(94, 9, 83);
}